@{
    ViewData["Title"] = "Dojo Survey";
}
<h2>@ViewData["Title"]</h2>

<div class="form-horizontal">

        
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>
            @ViewBag.name
        </div>
        
        <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-10">
                @ViewBag.location
            </div>
        </div>
         <div class="form-group">
            <label for="language" class="col-sm-2 control-label">Favorite Language:</label>
            <div class="col-sm-10">
                @ViewBag.language
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="comments" class="col-sm-2 control-label">comments:</label>
            <div class="col-sm-10">
                @ViewBag.comments
            </div>
        </div>
        
</div>
