@{
    ViewData["Title"] = "Home Page";
    var alert = TempData["alert"];
    var showRestart = TempData["showRestart"];
}

@{

<div class="row">
    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
         <h3>Fullness: @ViewBag.pet.Fullness</h3>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
    <h3>Happiness: @ViewBag.pet.Happiness</h3>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
    <h3>Meals: @ViewBag.pet.Meals</h3>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
    <h3>Energy: @ViewBag.pet.Energy</h3>
    </div>
</div>
}
<div class="row text-center">
    <img src="/images/dojodatchi.gif" alt="">
</div>





<div class="row text-center">
        @if(showRestart == null)
        {
            <a href="./feed" type="button" class="btn btn-lg btn-default">Feed</a>
            <a href="./play" type="button" class="btn btn-lg btn-default">Play</a>
            <a href="./work" type="button" class="btn btn-lg btn-default">Work</a>
            <a href="./sleep" type="button" class="btn btn-lg btn-default">Sleep</a>
        }
        else
        {
            <a href="./restart" type="button" class="btn btn-lg btn-default">Restart</a>
        }

</div>

<br />

@{

<pre> @ViewBag.petJson </pre>

    if(alert != null)
    {
       <script type="text/javascript">alert("@alert");</script>
    } 
}



